@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

* {
  font-family: Tahoma;
  padding: 0;
  margin: 0;
  border-spacing: 0;
}

table,
table * {
  padding: 0;
  margin: 0;
  color: #004c98;
  border-spacing: 0;
}

table tr,
table td {
  height: 30px;
  font-size: 14px;

  line-height: 14px;
  vertical-align: center;
  font-family: Tahoma;
}
@media (min-width: 1024px) {
  table tr,
  table td {
    line-height: 15px;
  }
}

table.address tr td:first-child {
  padding-right: 10px;
}

a {
  color: #004c98;
  font-family: Tahoma;
  text-decoration: none;
}

.social-icons img {
  margin-left: 4px;
  height: 30px;
  width: 30px;
  object-fit: contain;
  object-position: center;
}
.icon {
  height: 25px;
  width: 25px;
  object-fit: contain;
  object-position: center;
}
.animation {
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* .socialIcons a {
  display: block;
  width: fit-content;
}

.socialIcons {
  display: flex;
  justify-content: flex-end;
  margin-right: 20px;
} */
